---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}
	
    <main id="main">
	  {{ content }}
      <div id="uyan_frame" class="container"></div>
	  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2101491"></script> 
      <div class="footer">
        <div class="container">
          <p class="footer-entry">本人不承担任何法律责任 • <a href=" http://suiblog.com/免责声明 " target="_blank">免责声明</a> </p>
		  <p class="footer-entry">版权所有 © <a href="http://www.suiblog.com" target="_blank">Sui-Blog</a> 2015-2016  保留一切权利 </a></p>
		  <p class="footer-entry">友情链接：<a href="http://www.tryboy.cn/" target="_blank">勇敢男孩</a></p>
        </div>
      </div>
    </main>

    <button id="menu">
      <span id="menu-icons"></span>
    </button>

    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
